<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>

    </title>
</head>
    <body>
         <form action='createMessage' method='post'>
                <input type='text' name='name'>
                <select name='language'>
                    <option value='English'>English</option>
                    <option value='Spanish'>Spanish</option>
                    <option value='German'>German</option>
                    <option value='Russian'>Russian</option>
                    <option value='Japanese'>Japanese</option>
                </select>
                <input type='submit' value='Greet me!'>
         </form>
    </body>
</html>